<div id="social">
    <div class="container">
        <div class="row centered">
            <div class="col-sm-3">
                <a href="https://github.com/Aftnet"><i class="fa fa-github"></i></a>
            </div>
            <div class="col-sm-3">
                <a href="https://stackoverflow.com/users/625273"><i class="fa fa-stack-overflow"></i></a>
            </div>
            <div class="col-sm-3">
                <a href="https://linkedin.com/in/albertofustinoni"><i class="fa fa-linkedin"></i></a>
            </div>
            <div class="col-sm-3">
                <a href="mailto:{{ $.Param "Email" }}"><i class="fa fa-envelope"></i></a>
            </div>
        </div>
    </div>
</div>

<div id="footerwrap">
    <div class="container">
        <div class="row centered">
            <div class="col-sm-4">
                <p><b>{{ upper ($.Param "JobDescription") }}</b></p>
            </div>
            <div class="col-sm-4">
                <p>{{ upper ($.Param "Copyright") }}</p>
            </div>
            <div class="col-sm-4">
                <p>{{ $.Param "Email" }}</p>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>