<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="{{ $.Param "SiteDescription" }}">
        <meta name="author" content="{{ $.Param "Author" }}">

        <link rel="shortcut icon" href="{{ .Site.Params.Thumbnail }}">
        <link rel="apple-touch-icon" href="{{ .Site.Params.Thumbnail }}">
        <meta name="theme-color" content="#EA2E49">
        
        <base href="{{ .Site.BaseURL }}">
        <title>{{ .Title }}</title>
        <link rel="canonical" href="{{ .Permalink }}">

        <meta property="og:site_name" content="{{ .Site.Params.SiteName }}" />
        <meta property="og:title" content="{{ .Title }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ .Permalink }}" />
        <meta property="og:image" content="{{ absURL .Site.Params.Card }}" />

        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

        <!-- Custom styles for this template -->
        <link href="/assets/css/style.css" rel="stylesheet">
        <link href="/assets/css/font-awesome.min.css" rel="stylesheet">

        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id={{ .Site.Params.GoogleAnalyticsId }}"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', '{{ .Site.Params.GoogleAnalyticsId }}');
        </script>
    </head>

    <body>
        <!-- Static navbar -->
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">{{ upper .Site.Title }}</a>
                </div>
                <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#lineup">Lineup</a></li>
                </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>