{{ partial "header" . }}

<div id="headerwrap" class="bgimage headerbg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1>{{ upper .Site.Params.TagLine }}</h1>
            </div>
        </div>
    </div>
</div>

<section id="lineup"></section>
<div class="container">
    <div class="row centered mt mb">
        <h1>Lineup</h1>

        {{ range $elemet := after 1 (where .Site.Pages "Section" "app") }}
        {{ $elemet.Render "thumbnail" }}
        {{ end }}
    </div>
</div>

{{ partial "footer" . }}